In [2]:
import pandas as pd

In [6]:
pwd

'C:\\Users\\irene\\OneDrive\\Desktop\\GA_DSI\\dsi-flex-817\\Assignements\\projects\\project 1\\code'

In [8]:
act_2017 = pd.read_csv('~/OneDrive/Desktop/GA_DSI/dsi-flex-817/Assignements/projects/project 1/data/act_2017.csv' )

In [9]:
data_dir = r"C:\Users\irene\OneDrive\Desktop\GA_DSI\dsi-flex-817\Assignements\projects\project 1\data"

In [10]:
import os

In [11]:
os.listdir(data_dir)

['act_2017.csv',
 'act_2018.csv',
 'act_2019.csv',
 'act_2019_ca.csv',
 'sat_2017.csv',
 'sat_2018.csv',
 'sat_2019.csv',
 'sat_2019_by_intended_college_major.csv',
 'sat_2019_ca.csv',
 'sat_act_by_college.csv']

In [12]:
file = 'act_2017.csv'
file_path = os.path.join(data_dir , file)

In [14]:
pd.read_csv(file_path).head()

      State Participation  English  Math  Reading  Science Composite
0  National           60%     20.3  20.7     21.4     21.0      21.0
1   Alabama          100%     18.9  18.4     19.7     19.4      19.2
2    Alaska           65%     18.7  19.8     20.4     19.9      19.8
3   Arizona           62%     18.6  19.8     20.1     19.8      19.7
4  Arkansas          100%     18.9  19.0     19.7     19.5      19.4